.resource-icon,
table .resource-icon {
	width: 20px;
	height: 20px;
}

table .resource-icon {
	width: 24px;
	height: 24px;
}

.ore-options, .ore-option {
	display: flex;
}

.ore-options {
	justify-content: center;
	margin: 0 auto;
	column-gap: 35px;
}

.ore-option{
	width: fit-content;
	display: flex;
	flex-direction: column;
}

.ore-option div {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 5px;
}

#ore-picker {
	margin-bottom: 15px;
}

#amount-input {
	margin: 10px 0;
}

#rates-row{
	font-size: 0.8rem;
	font-weight: bold;
	font-style: italic;

}

#rates-row td{
	padding: 10px 0;
	background: rgb(16, 16, 16);
}

table {
	width: 50%;
	table-layout: fixed;
	border-collapse: collapse;
	margin: 25px auto;
}

th, td {
	border: 1px solid #606060;
	padding: 12px;
	text-align: center;
}

th {
	background-color: #191919;
}

th p {
	margin: 0;
}

td {
	background-color: rgb(0, 0, 0);
	font-weight: bold;
}